<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spotify Search</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="application/javascript" src="scripts/spotifysearch.js"></script>
</head>
<body onload="Init()">
    <div id="app">
        <input id="search" type="text" v-model="spotify_search" :placeholder="input_placeholder"></input>
        <select id="type" v-model="spotify_type">
            <option v-for="option in spotify_type_options" :value="option.value">{{ option.text }}</option>
        </select>
        <button type="button" @click="SpotifySearch">Search</button>
        <table>
            <th>Photo</th>
            <th>Name</th>
            <th>Genres</th>
            <th>Followers</th>
            <tr v-for="item in search_results">
                <td> 
                    <img v-if='item.images.length > 0' :src="item.images[0].url" height="150" width="auto"/>
                    <p v-else>NO IMAGE</p>
                </td>
                <td>{{ item.name }}</td>
                <td>
                    <ul>
                        <li v-for="genre in item.genres">{{genre}}</li>
                    </ul>
                </td>
                <td>{{ item.followers.total }}</td>
            </tr>
        </table>
    </div>
</body>
</html>
